*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex
*.synctex.gz
*.out
tags

ignore files in the output directory, as these can be made
output/*

XML_resume/resume.xml

XML_resume/resume.xml

XML_resume/resume.text
